Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem #

Exercise 3 - Create a markdown cell for an introduction

### In this notebook, Data Science Tools and Ecosystem are summarized. ###

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:** 
In this notebook You will find key takeaways from the course like 
* Data Scientist's most popular languages
* Libraries used 
* Markdowns usage in Jupyter Notebook

Exercise 4 - Create a markdown cell to list data science languages

### Some of the popular languages that Data Scientists use are: ###

1. Python
2. R
3. SQL
4. Scala
5. Julia

Exercise 5 - Create a markdown cell to list data science libraries

### Some of the commonly used libraries used by Data Scientists include:###

1. Matplotlib 
2. NumPy
3. Pandas
4. Seaborn
5. Sklearn
6. TensorFlow
7. PyTorch
8. SciPyExercise 5 - Create a markdown cell to list data science libraries

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--- |
| Jupiter Lab |
| Anaconda |
| Jupiter Notebook |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.###

Exercise 8 - Create a code cell to multiply and add numbers

In [10]:
"""This a simple arithmetic expression to mutiply then add integers"""
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
"""This will convert 200 minutes to hours by diving by 60"""
def MinutesToHours(minutes):
    hours = minutes/60
    return hours

MinutesToHours(200)

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

### Author: ###
Micha≈Ç Zaremba